.popoverFailureAdd {
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 0 17px 0 #606060;
    position: absolute;
    background-color: #f6fcfe;
    border-radius: 20px;
    border: #FF0000 4px dashed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


#failureAddRoom {
    color: #FF0000;
    font-size: 60px;
}