
.mainAddRoom {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.contentAddRoom {
    height: 90vh;
    width: 83vw;
    background-color: #f6fcfe !important;
}


#placeholderStyle {
    width: 100%;
    height: 40%;
    border-radius: 15px;
    background-color: #7890a0;
    border: #365D73 dotted 3px;
    margin-top: 10%;
}

#layoutAddRoomContent {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

#addRoomTitle {
    position: relative;
    display: flex;
    width: 39%;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#attributesOfNewRoom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    align-content: center;
    align-items: center;
}

#leftAttributes {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rightAttributes {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attributeBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55vh;
    border-radius: 15px;
    background-color: #FFFFFF;
    border-top: #365D73 solid 7px;
    box-shadow: 1px 0 17px 0 #606060;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#attributeFilters {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#textNeuerRaum {
    font-size: 200%;
    height: 20%;

}

#addRoomButton {
    display: flex;
    justify-content: center;
}

#popoverBox {

}