
.layoutAddRoom {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.headerAddRoom {
    width: 100vw;
    height: 7vh;
    background-color: #365D73;
}

.toolbar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mainAddRoom {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.sidebarAddRoom {
    width: 15vw;
    height: 100vh;
    background-color: #bac6ce;
}

#SidebareAddRoom {
    position: relative;
    width: 100%;
    display: flex;
    top: 11rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contentAddRoom {
    height: 90vh;
    width: 82vw;
    background-color: #f6fcfe !important;
}

.footerAddRoom {
    height: 4vh;
    width: 100vw;
    background-color: #252525;
}

#layoutAddRoomContent {
    position: relative;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
}

#addRoomButton {
    position: relative;
    display: flex;
    width: 39%;
    flex-direction: column;
    height: 100%;
    top: -19%;
    left: -5%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#attributesOfNewRoom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    align-content: center;
    align-items: center;
}

#leftAttributes {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rightAttributes {
    position: relative;
    display: flex;
    width: 45%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attributeBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55vh;
    border-radius: 15px;
    background-color: #FFFFFF;
    border-top: #365D73 solid 7px;
    box-shadow: 1px 0px 17px 0px #606060;
    flex-wrap: wrap;
    justify-content: space-around;
}

#attributeFilters {
    position: relative;
    display: flex;
    flex-direction: row;
}

#textNeuerRaum {
    font-size: 200%;
    height: 20%;

}