
.mainDashboard {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.layoutDashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


.toolbar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mainDashboard {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.sidebarDashboard {
    width: 15vw;
    height: 100vh;
    background-color: #bac6ce;
}


.contentDashboard {
    height: 90vh;
    width: 83vw;
    background-color: #f6fcfe !important;
}

#dashboardWelcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#welcomeInUserWelcomeText {
    margin-left: 1%;
}

#welcomeUserInfoText {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em; /* Adjust as needed */
    animation:
            typing 2s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}


#iconButtonHelp:after {
}

#spaceInToolBar {
    width: 80vw;
}

#rightAlignToolbarButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#placeholderStyle {
    width: 100%;
    height: 40%;
    border-radius: 15px;
    background-color: #7890a0;
    border: #365D73 dotted 3px;
    margin-top: 10%;
}

#personaleInformation {
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 26vw;
    height: 38vh;
    overflow-y: scroll;
    border-top: #365D73 solid 7px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

#personaleInformation::-webkit-scrollbar {
    display: none;
}

#SidebareDashboard {
    position: relative;
    width: 100%;
    display: flex;
    top: 11rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

#buchungen {
    position: absolute;
}

#contentBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
    align-content: center;
    position: relative;
    align-items: flex-start;
}

#squareForBuchungen {
    background-color: #dce2e6;
    border-radius: 20%;
    height: 100%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#buchungenDiv {
    width: 45vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #365D73 solid 7px;
}

#picPersonalData {
    background-image: url(https://i.pinimg.com/564x/ff/c8/4c/ffc84cf8242ae0289512fdaba3e0e72b.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 15vh;
    width: 7vw;
    position: relative;
}


#boxInformation {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    margin-left: 10%;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
}

#informationUserName {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#informationEmail {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#informationRole {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}


#informationAboutUser {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#textUserName {

    opacity: 0.8;
}

#textEmail {
    opacity: 0.8;
}

#textRole {
    opacity: 0.8;
}

#personal-information {
    height: 80%;
}


