
.headerDashboard {
    width: 100vw;
    height: 7vh;
    position: relative;
    background-color: #365D73;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}