 #sidebarcircle1 {
     background-color: #365D73;
      border: #7890a0 dotted 2px;
     border-radius: 30%;
     height: 10vh;
     width: 5vw;
     position: absolute;
     bottom: -7%;
     left: -2%;
     transform: rotate(0);
 }

 #sidebarcircle2 {
      background-color: #365D73;
      border: #7890a0 dotted 2px;
      border-radius: 30%;
      height: 5vh;
      width: 2.5vw;
      position: absolute;
      bottom: -5%;
      left: 1.5%;
      transform: rotate(40deg);
 }