
.flip-card {
    background-color: transparent;
    width: 50%;
    height: 100%;
    aspect-ratio: 5/7;
    position: absolute;
    transition: transform 400ms ease;
}

.flip-card[data-status="unknown"] {
    transform: scale(0);
}

.flip-card[data-status="after"] {
    transform: translateX(50%) scale(0);
}

.flip-card[data-status="before"] {
    transform: translateX(-50%) scale(0);
}

.flip-card[data-status="active"] {
    transition-delay: 300ms;
}

.flip-card[data-status="become-active-from-before"] {
    transform: translateX(-50%) scale(0);
    transition: none;
}

.flip-card[data-status="become-active-from-after"] {
    transform: translateX(50%) scale(0);
    transition: none;
}

.box-flip-card {
    position: relative;
    top: 5%;
    left: 31%;
    height: 51%;
    width: 83%;
    aspect-ratio: 5/7;
}

#aboutBoxWelcome {
    margin-top: 5%;
    margin-bottom: 5%;
}

#welcome-text {
    opacity: 0.6;
    font-size: 100%;
    margin-top: 2%;
    margin-bottom: 0;
    font-family: Roboto, serif;
    padding-top: 3%;
}

.pic {
    width: 250px;
    height: 250px;
    border-radius: 30%;
}

.name {
    padding-top: 10%;
    font-family: Roboto, serif;
    font-size: 190%;
}

.devTitle {
    padding-top: 10%;
    font-size: 100%;
}

.devJob {
    padding-top: 2%;
    font-size: 100%;
}


#boxInformationDevs {
    height: 61%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front .flip-card-back {
    border-radius: 30%;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .front-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}


#flip-front-lisa {
    background-color: #365D73;
    color: black;
    border-radius: 30%;
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/564x/ff/c8/4c/ffc84cf8242ae0289512fdaba3e0e72b.jpg);
    backface-visibility: hidden;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
}

#flip-front-justus {
    background-color: #365D73;
    color: black;
    border-radius: 30%;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.discordapp.com/avatars/200581635672899584/175571563afabe72e7fe7c442a74cfd9.webp?size=128);
    backface-visibility: hidden;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
}

#flip-front-marlon {
    background-color: #365D73;
    color: black;
    border-radius: 30%;
    height: 100%;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/5c/4c/7e/5c4c7ee71d7ed570227c435784106c39.jpg);
    backface-visibility: hidden;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
}

.flip-card-back {
    background-color: #365D73;
    color: black;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 30%;
    transform: rotateY(180deg);
    animation: changecolor 10s infinite linear;
}

@keyframes changecolor {
    0% {
        background-color: #7890a0;
    }
    25% {
        background-color: #577689;
    }
    50% {
        background-color: #365D73;
    }
    75% {
        background-color: #577689;
    }
    100% {
        background-color: #7890a0;
    }
}

h1 {
    margin: 0;
    opacity: 0.7;
}

.swipe-button {
    position: relative;
    display: flex;
    top: -25%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

#github {
    border-radius: 30%;
    height: 10%;
    width: 20%;
    position: absolute;
    bottom: 4%;
    left: 4%;
    opacity: 0.6;
}