  .root{
  --black: #000000;
  --white: #FFFFFF;
  --light_blue: #4292c7;
  --dark_blue: #0a0d63;
  --blue: #1b56b5;
  --green: #18a11d;
  --light_green: #61ab37;
  --dark_green: #1a611d;
  --yellow: #e7eb2d;
  --orange: #f29018;
  --red: #d6321c;
  --magenta: #e629d9;
  --grey: #454545;
  --dark_grey: #252525;
  --light_grey: #606060;
}

.App {
  text-align: center;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.Sidebare{
  float: left;
  align-items: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
