
.Dashboard{
    height: 100%;
    width: 100%;
    background: #454545;
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 7% 70% 21%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #365D73;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #bac6ce;
}

.content {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
    background-color: #fffafa;
}

.verticalLine1 {
    position: absolute;
    left: 15%;
    top: 20%;
    border-left: 2px solid #454545;
    height: 60%;
}

.verticalLine2 {
    position: absolute;
    border-left: 2px solid #454545;
    height: 90%;
    left: 30%;
    top: 7%;
}

#iconButtonHelp:after {
    background-color: #454545;
    content: " ";
    display: inline-block;
    height: 41px;
    position: relative;
    left: 50%;
    vertical-align: middle;
    width: 2px;
}

#spaceInToolBar {
    margin-left: 650px;
    margin-right: 650px;
}

#rightAlignToolbarButtons {
    position: relative;
    align-items: flex-end;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    height: 7%;
    background-color: #365D73 !important;
}

.css-hyum1k-MuiToolbar-root {
    position: absolute;
    left: 16%;
}

#SidebareDashboard {
    position: absolute;
    margin-top: 4%;
    width: 15%;
}

#dashboardWelcome {
    margin-top: 5%;
}

#buchungen {
    position: absolute;
}

#contentBoxes {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    height: 60%;
}

#squareForBuchungen {
    background-color: #bac6ce;
    border-radius: 20%;
    height: 100%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#buchungenDiv {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


