
.Dashboard{
    height: 100%;
    width: 100%;
    background: #454545;
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 7% 70% 21%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #365D73;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #bac6ce;
}

.content {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
    background-color: #FAFAFB;
}

.verticalLine1 {
    position: absolute;
    left: 15%;
    top: 20%;
    border-left: 2px solid #454545;
    height: 60%;
}

.verticalLine2 {
    position: absolute;
    border-left: 2px solid #454545;
    height: 90%;
    left: 30%;
    top: 7%;
}

#iconButtonHelp:after {
    background-color: #454545;
    content: " ";
    display: inline-block;
    height: 41px;
    position: relative;
    left: 50%;
    vertical-align: middle;
    width: 2px;
}

#spaceInToolBar {
    margin-left: 650px;
    margin-right: 650px;
}

#rightAlignToolbarButtons {
    position: relative;
    align-items: flex-end;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    height: 7%;
    background-color: #365D73 !important;
}

.css-hyum1k-MuiToolbar-root {
    position: absolute;
    left: 16%;
}

#SidebareDashboard {
    position: absolute;
    margin-top: 4%;
    width: 15%;
}

#dashboardWelcome {
    margin-top: 5%;
}

#buchungen {
    position: absolute;
}

#contentBoxes {
    position: absolute;
    top: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

#squareForBuchungen {
    background-color: #dce2e6;
    border-radius: 20%;
    height: 100%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#buchungenDiv {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: #365D73 solid 7px;
}

#picPersonalData {
    background-image: url(https://i.pinimg.com/564x/ff/c8/4c/ffc84cf8242ae0289512fdaba3e0e72b.jpg);
    background-size: contain;
    border-radius: 50%;
    height: 50%;
    width: 26%;
    position: relative;
    top: 20%;
    left: 13%;
}


#boxInformation {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    top: -30%;
}

#informationUserName {
    width: 80%;
    opacity: 0.8;
}

#boxInformation {
    margin-bottom: 2px !important;
}

#informationEmail {
    width: 80%;
}

#informationRole {
    width: 80%;
}


#informationAboutUser {
    width: 100%;
    height: 100%;
}

#textUserName {
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 10%;
    opacity: 0.8;
}

#textEmail {
    margin-left: 18%;
    margin-bottom: 1%;
    opacity: 0.8;
}

#textRole {
    opacity: 0.8;
    margin-left: -18%;
}

#personal-information {
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    height: 40%;
    border-top: #365D73 solid 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
}


