
#NewRooms {
    height: 100%;
    width: 100%;
    background: #454545;
    display: grid;
    grid-column: auto;
    grid-row: auto;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 7% 70% 21%;
}

#contentBoxesNewRooms {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #365D73;
}

.sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #bac6ce;
}

.content {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
    background-color: #FAFAFB;
}

.css-1hcuyf4-MuiButtonBase-root-MuiIconButton-root #addNewRoom {
    position: relative;
    left: -40%;
    border: #252525 solid 1px !important;
    border-radius: 1%;
    margin-top: 50px !important;
}

.css-1hcuyf4-MuiButtonBase-root-MuiIconButton-root .css-i4bv87-MuiSvgIcon-root #addNewRoom {
    font-size: 250%;
}

#filterTextBox {
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
    height: 20%;
    border-radius: 15px;
    width: 80%;
    border: white solid 2px;
    text-align: left;
}

#filterText {
    font-size: 40px;
    font-family: Roboto, serif;
    position: relative;
    opacity: 0.7;
    left: 5%;
}

#textNeueBuchungen {
    text-align: left;
    margin-left: 7%;
}

#boxNewRoomButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#boxRoomInput {
    height: 85%;
    align-items: flex-start;
    display: flex;
}

#newBuchungen {
    margin-left: 10%;
    width: 40%;
    height: 90%;
}

#newRoomInput {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-top: #365D73 solid 7px;
    border-radius: 15px;
    width: 100%;
    height: 84%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

#boxKapazität {
    margin-bottom: 2%;
}

#boxAttribute {
    margin-bottom: 2%;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    margin-left: 10%;
}

#dateForRoom {
    margin-bottom: 2%;
    width: 100%;
    max-width: 150%;
    margin-left: 5%;
}

#startTimeForRoom {
    margin-bottom: 2%;
    width: 100%;
    max-width: 150%;
    margin-left: 5%;
}

#endTimeForRoom {
    margin-bottom: 2%;
    width: 100%;
    max-width: 150%;
    margin-left: 5%;
}

#boxFilterButton {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
}

#newBuchungenBoxes {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
}

#newBuchungenBoxes::-webkit-scrollbar {
    display: none;
}

#filter {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    left: -7%;
}

#buchungRaumColumns {
    display: flex;
    margin-left: 3%;
    flex-flow: column wrap;
    list-style: none;
}

#headerWithRoomTitle {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    background-size: cover;
    opacity: 0.6;
    background: linear-gradient(rgba(54, 93, 115,.5), rgba(114, 141, 157,.5)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRCDvmu5WA17GNPWOtZDk3F0S9A2QYdtIJcg&usqp=CAU);
}

#textRoomName {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 200%;
    font-family: Roboto, serif;
    opacity: 1;
}

#raum {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-bottom: 4%;
}

#raum:hover {
    background-color: #e9e9e9;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: 0.5s;
}