.root {
    --black: #000000;
    --white: #FFFFFF;
    --light_blue: #4292c7;
    --dark_blue: #0a0d63;
    --blue: #1b56b5;
    --green: #18a11d;
    --light_green: #61ab37;
    --dark_green: #1a611d;
    --yellow: #e7eb2d;
    --orange: #f29018;
    --red: #d6321c;
    --magenta: #e629d9;
    --grey: #454545;
    --dark_grey: #252525;
    --light_grey: #606060;
}

#registerBox {
    border: #000000 solid 1px;
    height: 200%;
    width: 150%;
    text-align: center;
    backdrop-filter: blur(8px);
    align-items: center;
    background-color: #F2ECEC;
    box-shadow: 1px 0px 8px 0px #000000;
}

#welcome-box {
    background-image: linear-gradient(to right, #7890a0, #365D73 , #7890a0);
    padding-top: 5%;
    padding-bottom: 5%;
}

.inputContainer {
    align-items: center;
    margin: 5% 5%;
}

.user-login input {

}

.registerButton {
    margin-top: 10%;
    margin-bottom: 10%;
}

.popup-content {
    width: 40%;
    height: 30%;
    align-items: center;
    display: flex;
}

#welcome {
    margin: 0;
}

